# Niels
src/niels

# Clion project files
.idea

# cmake build-folder
*build/

# Latex related files
*.blb
*.blg
*.fls
*.bbl
*.aux
*.fdb_latexmk
*.log
*.pdf

# Vim
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
